*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-image: url("images/bg_image.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: max(1370px,100vh);
    height: 100vh;
    position: relative;
}
.main .box{
    height: 100vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}
.signinbtn{
    background-color: red;
    color: white;
    position: relative;
    z-index: 10;
}
.main_logo{
    height: 2.5rem;
     color: red;
     position: relative;
     z-index: 10;
     margin-top: 2rem;
}
nav{
    margin: 0 auto;
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 2rem;
}
.title_content{
    color: white;
    font-size: 56px;
    text-align: center;
}
.middlecontent{
    position: relative;
    top: 30%;
    max-width: 550px;
    margin: auto;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.start_content{
    
    margin: 1rem;
    font-size: 20px;
}
.third_content{
    font-size: 16px;
    margin-top: 1rem;
}
.email_inp input{
    opacity: 0.2;
    color: white;
}
.start_btn{
    background-color: red;
}