@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
   
}
.main{
    background-image: url("images/bg_image.jpg");
    background-repeat: no-repeat;
    background-size: max(1370px,100vh);
    height: 720px;
    position: relative;
}
.main .box{
    height: 100%;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}
.signinbtn{
    background-color: red;
    color: white;
    position: relative;
    z-index: 10;
    width: 76.91px;
    margin-top: 1rem;
    font-family: "Martel Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    height: 32px;
   
   
}
.main_logo{
    height: 40px;
     color: red;
     position: relative;
     z-index: 10;
     margin-top: 2rem;
}
nav{
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 2rem;
}
.title_content{
    color: white;
    font-size: 56px;
    text-align: center;
    line-height: 70px;
    font-weight: 900;
    padding-top:120px;
}
.middlecontent{
    position: relative;
    height: 90%;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: "Martel Sans", sans-serif;
    padding: 2rem;
}
.start_content{
    margin: 1rem;
    font-size: 20px;
}
.third_content{
    font-size: 16px;
    margin-top: 1rem;
}
.email_inp input{
    width: 366.75px;
    height: 56px;
    font-size: 20px;
    background-color: rgba(25,25,25,0.5);
    border: 0.3px solid rgb(145, 138, 138);
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    margin-top: 0.9rem;
}
.email_inp :nth-child(2){
    width: 213.5px;
    height: 56px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.start_btn{
    background-color: red;
    font-weight: 700;
    font-size: 10px;
}
.curve_in{
    height: 47px;
    width: 100%;
    background: linear-gradient(to right,black,rgb(131, 2, 77),red,rgb(131, 2, 77),black);
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.curve_out{
    height: 90%;
    width: 100%;
    background: radial-gradient(ellipse at 50% 0,rgb(18, 18, 87),black 50%);
    position: absolute;
    top: 10%;
    border-top-left-radius:45% ;
    border-top-right-radius: 45%;
}
.curve_container {
    position: absolute;
 
    width: 100%;
    bottom: 0;
}
.container{
    max-width: 900px;
    height: 500px;
    margin: 0 auto;
    margin-top: 2rem;
}
.titlem{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}
.card_container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.card_container::-webkit-scrollbar{
    height: 0;
    width: 0;
}
.cards{
    width: 180px;
    height: 252px;
   flex: 0 0 auto;
    position: relative;
    /* transition: transform 0.3s ease ;  */
    
    border-radius: 10px;
    padding-right: 20px;
}
.cards img{
     object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;

}
.cards:hover{
    /* transform: scale(1.2); */
}
.number{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 100px;
    width: 61.5px;
    color: black;
    font-weight: 900;
    left: -20px;
    -webkit-text-stroke: 1px white;
}