@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.main{
    background-image: url("images/bg_image.jpg");
    
    background-repeat: no-repeat;
    background-size: max(1370px,100vh);
    height: 103vh;
    position: relative;
}
.main .box{
    height: 100%;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}
.signinbtn{
    background-color: red;
    color: white;
    position: relative;
    z-index: 10;
}
.main_logo{
    height: 2.5rem;
     color: red;
     position: relative;
     z-index: 10;
     margin-top: 2rem;
}
nav{
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 2rem;
}
.title_content{
    color: white;
    font-size: 56px;
    text-align: center;
    line-height: 70px;
    font-weight: 900;
}
.middlecontent{
    position: relative;
    height: 100%;
    max-width: 700px;
    top: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: "Martel Sans", sans-serif;
    padding: 2rem;
}
.start_content{
    
    margin: 1rem;
    font-size: 20px;
}
.third_content{
    font-size: 16px;
    margin-top: 1rem;
}
.email_inp input{
    opacity: 0.2;
    color: white;
}
.start_btn{
    background-color: red;
}
.curve_in{
    height: 10vh;
    width: 100%;
    background: linear-gradient(to right,black,rgb(131, 2, 77),red,rgb(131, 2, 77),black);
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.curve_out{
    height: 90%;
    width: 100%;
    background: radial-gradient(ellipse at 50% 0,rgb(6, 6, 49),black 50%);
    position: absolute;
    top: 10%;
    border-top-left-radius:45% ;
    border-top-right-radius: 45%;
}
.curve_container {
    position: absolute;
    height: 300px; /* or whatever you want */
    width: 100%;
}
.card_container{
    width: 100%;
    height: 500px;
    background-color: blue;
}